<hr>
<nav>

    <ul>
        <li><a routerLink="login" id="login">Login</a></li>  
        <li><a routerLink="register" id="register">Register</a></li> 

        <ng-container *ngIf="currentUserService.isPublisher">
            <li><a routerLink="/bookform" id="bookform">Add Book</a></li>
        </ng-container>

        <ng-container *ngIf="currentUserService.getUsername() != ''">
            <li><a routerLink="/dashboard" id="dashboard">Dashboard</a></li>
        </ng-container>
    </ul>

</nav>
<router-outlet></router-outlet>