<h1>Browse our amazing books</h1>
<br>
<label>Search: </label>
<input type="text" id="browseGenre" [(ngModel)]="browseGenre" placeholder="Search TomeTake">
<button (click)="retrieveBooks()">Browse</button>
<br>
<br>

<div *ngIf="hasBeenClicked">

    <div *ngFor="let book of bookList">
    <img [src]="this.remote.getImageSrc(book.imageType) + book.image" alt="{{book.title}}" height="300" width="200">
    <h3 (click)="showBookView(book)" class="clickable">Title: {{book.title}}</h3>
    <p>by {{book.author}}</p>
    <br>
    </div>
</div>

<br>
<br>

<a routerLink="/dashboard">Return to Dashboard</a>
