<h1>Register a new TomeTake account</h1>

<label>Username: </label>
<br>
<input type="text" id="username" [(ngModel)]="username">
<br>
<label>Email:</label>
<br>
<input type="text" id="email" [(ngModel)]="email">
<br>
<label>Password:</label>
<br>
<input type="password" id="password" [(ngModel)]="password" (blur)="this.passwordClick = true">
<br>
<ng-container *ngIf="this.password.length < 8 && this.passwordClick">
    <p class="password">* Field must be at least 8 characters long</p>
</ng-container>
<label>Confirm Password: </label>
<br>
<input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" (blur)="this.confirmPasswordClick = true">
<br>
<ng-container *ngIf="this.confirmPassword.length < 8 && this.confirmPasswordClick">
    <p class="password">* Field must have at least 8 characters long</p>
</ng-container>
<label>Are you a publisher? </label>
<input type="checkbox" id="isPublisher" [(ngModel)]="isPublisher">
<br>
<br>
<button (click)="registerUser()">Submit!</button>
<br>
<br>
<p>Already have a TomeTake Account?</p>
<a routerLink="/login">Login</a>