<h1>Book Form</h1>
<br>
<label>Title: </label>
<br>
<input type="text" id="title" [(ngModel)]="title" maxlength="100"> 
<br>
<label>Author: </label>
<br>
<input type="text" id="author" [(ngModel)]="author" maxlength="100">
<br>
<label>Genre: </label>
<br>
<select [(ngModel)]="genre">
    <option value="" selected disabled hidden>Select Genre</option>
    <option value="Adventure">Adventure</option>
    <option value="Autobiography">Autobiography</option>
    <option value="Biography">Biography</option>
    <option value="Children's Literature">Children's Literature</option>
    <option value="Classic Literature">Classic Literature</option>
    <option value="Fantasy">Fantasy</option>
    <option value="Horror">Horror</option>
    <option value="Mystery">Mystery</option>
    <option value="Non-Fiction">Non-Fiction</option>
    <option value="Romance">Romance</option>
</select>
<br>
<label>Description: </label>
<br>
<textarea id="description" [(ngModel)]="description" maxlength="250"></textarea>
<br>
<label>Publication Year: </label>
<br>
<input type="text" id="publicationYear" [(ngModel)]="publicationYear" maxlength="4">
<br>
<label>Quantity: </label> 
<br>
<input type="number" id="quantity" [(ngModel)]="quantity" maxlength="3">
<br>
<label>Number of Pages: </label>
<br>
<input type="number" id="numberOfPages" [(ngModel)]="numberOfPages" maxlength="5">
<br>
<label>Image: </label>
<br>
<input type="file" (change)="onFileSelected($event)">
<br>
<br>
<button (click)="addBook()">Add Book</button>
<br>
<br>
<a routerLink="/dashboard">Return to Dashboard</a>
